<div>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
      </div>
      <div class="navbar-start">
        <button class="join-item btn btn-outline text-xl" routerLink="" style="color: aliceblue;">Pagina anterior</button>
      </div>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="" style="color: aliceblue; font-style: oblique; margin-left: -100px;">Titanium Fitness</a>
  </div>
</div>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES PETEN</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Progresivo,+San+Benito/@16.9181534,-89.9448359,13z/data=!3m1!4b1!4m8!4m7
    !1m0!1m5!1m1!1s0x8f5f8db29b85e8f9:0x428aca81b1dcb0a8!2m2!1d-89.9036183!2d16.9180637?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKX
    MDSoASAFQAw%3D%3D">San Benito</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Impulso+Fitness+Mundo+Maya+W46F%2BVR7+Mundo+Maya+Centro+Comercial+Metroplaza+
    Flores/@16.912111,-89.875475,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f5ff361852be777:0xb2978c9320e9a0c3!2m2!1d-89.875475!
    2d16.912111?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Mundo Maya Centro Comercial Metroplaza, Flores</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES HUEHUETENANGO</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Cambote+zona+11+Huehuetenango+Sector+1+Huehuetenango,+13001/@15.3027538,
    -91.4917643,14.4z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858c157d356bafed:0xa471f203613e0458!2m2!1d-91.4914321!2d15.3109531?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Cambote zona 11 Huehuetenango Sector 1</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//4,+Huehuetenango+13001/@15.3319434,-91.5351222,12.62z/data=!4m8!4m7!1m0!1m5
    !1m1!1s0x858c15380447a319:0x8abdc88e3e728af7!2m2!1d-91.4871036!2d15.335031?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAF
    QAw%3D%3D">Huehuetenango</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES QUICHE</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Fitness+Center+Chicam%C3%A1n,+0+AV,+Chicam%C3%A1n,+Quich%C3%A9/
    @15.3466274,-90.797453,16.76z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858bc73987e606f1:0xf84debb43d42cc37!2m2!1d-90.
    7965084!2d15.3478994?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Center Chicamán, 0 AV, Chicamán</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+%F0%9F%8F%8B%F0%9F%8F%BD%E2%80%8D%E2%99%82%EF%B8%8F,+Uspant%C3%A1n,
    +Quich%C3%A9/@15.347837,-90.8686771,16.06z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858bc10000225c95:0xec859307f6bbd0c1!2m2
    !1d-90.8691858!2d15.3463756?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Uspantán</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES ALTA VERAPAZ</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Center,+San+Pedro+Carch%C3%A1,+Alta+Verapaz/@15.4733074,-90.3007368,
    15.87z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858a41acc5445e0f:0x614f02541714a61e!2m2!1d-90.3038189!2d15.4728044?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">San Pedro Carchá</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+FRAY,+Fray+Bartolom%C3%A9+de+las+Casas,+Alta+Verapaz/@15.809801,
    -89.9111126,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f602d0067615885:0xbceb89d1092bb6a7!2m2!1d-89.8699047!2d15.8097325?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Fray Bartolomé de las Casas</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES BAJA VERAPAZ</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+FITNESS+CLUB,+2da+Avenida,+Rabinal,+Baja+Verapaz/@15.0864777,
    -90.5336483,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858a290389302f83:0xf075896e65a37223!2m2!1d-90.4924586!2d15.0863983?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">2da Avenida 2-43, Rabinal</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SAN MARCOS</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+POWER+HOUSE,+2+Avenida,+San+Marcos/@14.9859078,-91.7818755,14.42z
    /data=!4m8!4m7!1m0!1m5!1m1!1s0x858e816c9e4553e1:0xe181cb0d225013ba!2m2!1d-91.7664464!2d14.9910956?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">2 Av. San Marcos</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Mr.+Tecun,+Ciudad+Tec%C3%BAn+Um%C3%A1n,+San+Marcos/@14.9076059,
    -92.2168884,9.73z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858e6b00331bed3b:0xa0c1ac1e2b6e581b!2m2!1d-92.1361864!2d14.6765272?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Ciudad Tecún Umán</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES QUETZALTENANGO</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+fitness+center,+7a+avenida,+Quetzaltenango/@14.8446861,-91.5643867,
    13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x858e99000a947303:0x9af4dc9037287ad9!2m2!1d-91.5231866!2d14.8446068?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">7a avenida 2 calle, Quetzaltenango</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym,+Avenida+Las+Americas,+Quetzaltenango/@14.8412093,-91.5762491,13z/
    data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x858e99e5707f8eff:0xa07706c2cf7eb53a!2m2!1d-91.535049!2d14.84113?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Av. Las Americas 15-55, Quetzaltenango</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES TOTONICAPAN</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+rabbit,+Santa+Mar%C3%ADa+Chiquimula,+Totonicap%C3%A1n/@15.0316168,
    -91.3667146,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858c031fe58d6e27:0xe51a5922758c60e9!2m2!1d-91.3255145!2d15.0315376?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Santa María Chiquimula</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gymnos+Fitness,+Unnamed+Road,+San+Crist%C3%B3bal+Totonicap%C3%A1n,
    +Totonicap%C3%A1n/@14.9166937,-91.4852118,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858ea3f5fcc6a7e1:0xc61281f442b21905
    !2m2!1d-91.4439988!2d14.916677?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">San Cristóbal Totonicapán</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SOLOLA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+La+Mano+de+Dios,+San+Pedro+La+Laguna,+Solol%C3%A1/@14.6906295,
    -91.310003,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858eb5b7f4975b55:0xd344585d9bfd8935!2m2!1d-91.2687955!2d14.6905546?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">San Pedro La Laguna</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Athletic+Fitness,+Panajachel,+Solol%C3%A1/@14.7476442,-91.1923093,13z
    /data=!4m8!4m7!1m0!1m5!1m1!1s0x85894b38c52771f7:0x121c7e635cbafc39!2m2!1d-91.1511092!2d14.7475648?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Calle principal, barrio Norte, Panajachel</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES RETALHULEU</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Sport+Gym+Ana+Lucia+Retalhuleu,+Residenciales+Ana+Lucia,+10a+Avenida+3-10,
    +Retalhuleu/@14.53924,-91.7261999,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858ef1e63347b1a9:0xef20e99acca0631!2m2!
    1d-91.6849956!2d14.539157?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Residenciales Ana Lucia, 10a Avenida 3-10, Retalhuleu</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SUCHITEPQUEZ</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Box,+7a+Avenida,+Mazatenango,+Suchitep%C3%A9quez/@14.5330834,
    -91.5428334,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858ec38cf1059b1b:0x84485f1432c30a25!2m2!1d-91.5016803!2d14.5330035?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">7a Avenida 8-64, Mazatenango</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gimnasio+%22GYM+EVOLUTION%22,+San+Francisco+Zapotitl%C3%A1n,
    +Suchitep%C3%A9quez/@14.5897771,-91.5641945,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858eebed518f0985:0x6f25077c046673f9
    !2m2!1d-91.5230011!2d14.5896788?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">San Francisco Zapotitlán</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CHIMALTENANGO</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//gym+elite,+El+Tejar,+Chimaltenango/@14.6453274,-90.8278127,13z/data=
    !4m8!4m7!1m0!1m5!1m1!1s0x858913d80561fdcd:0x8b90605b586ea7d5!2m2!1d-90.7866463!2d14.645248?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">El Tejar Calle Real El tejar, 04016</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Roca+GYM+Tecp%C3%A1n+Guatemala,+2+Calle,+Tecp%C3%A1n,+Chimaltenango/
    @14.7592118,-91.0339463,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8589454bbb6bc3bd:0x71db207d1666a1c!2m2!1d-90.9927489
    !2d14.7591306?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">2 Calle, Tecpán</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES ZACATEPEQUEZ</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Medic,+Calle+Ancha+de+los+Herreros,+Antigua+Guatemala,
    +Sacatep%C3%A9quez/@14.5700176,-90.7820356,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x85890de1dee1229f:0x39eed935c7c9ff05
    !2m2!1d-90.7408355!2d14.5699381?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">C. Ancha de los Herreros 87, Antigua Guatemala</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+maximo+esfuerzo,+3+Calle,+Ciudad+Vieja,+Sacatep%C3%A9quez/@14.5243768,
    -90.806436,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858911ed71198145:0x730ddefe16e170a7!2m2!1d-90.7652359!2d14.5242973?entry=
    ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">3 Calle 1-53, Cd Vieja</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES GUATEMALA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gymnastica,+20+Avenida,+Ciudad+de+Guatemala,+Guatemala/@14.5871676,
    -90.5397215,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8589a31c9d973f0f:0x160538e515158e57!2m2!1d-90.4985214!2d14.5870881?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">20 Avenida 18, Cdad. de Guatemala 01010</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+LAM,+RN-18,+San+Jos%C3%A9+Pinula,+Guatemala/@14.5429559,-90.4508559,13z/
    data=!4m8!4m7!1m0!1m5!1m1!1s0x8589bb26a9ad9a35:0xee62e360b9fc75fb!2m2!1d-90.4096549!2d14.5428764?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">San José Pinula</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES ESCUINTLA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gymbars,+1ra.+Avenida,+Pal%C3%ADn,+Escuintla/@14.4054388,
    -90.734453,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x85890514b25c774b:0x16b419dc2617bd5c!2m2!1d-90.6932577!2d14.4053895?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">1ra. Avenida 7 - 35, Palín 05011</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GymbroNando,+Tierra+Verde,+Siquinal%C3%A1,+Escuintla/@14.3083901,
    -91.0196485,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x858921bb9e007ecf:0x2fb9566c50475f80!2m2!1d-90.9784515!2d14.3082979?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Tierra Verde, Sector 3, manzana K, Lote 40, segunda calle Guatemala, Siquinalá</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SANTA ROSA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Guzman,+RD-SRO-03,+Barberena,+Santa+Rosa/@14.2452754,-90.9050237,
    8.92z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8589b5690dda2831:0x7254c59f8afb753b!2m2!1d-90.3586639!2d14.3100306?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Santa Rosa, Barberena</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+FASE%231,+Carretera+a+El+Salvador,+El+Cerinal,+Santa+Rosa/@14.3265133,
    -90.4376705,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8589b3e65b8095f3:0xc671a97646af1cb1!2m2!1d-90.3964704!2d14.3264337?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Calle Las Brisas, Carr. a El Salvador, El Cerinal</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES JUTIAPA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+AccionPlus,+4a+Avenida+Z.+2,+El+Progreso,+Jutiapa/@14.3538835,
    -89.8866975,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f6263597f78ea8b:0xcc43ea43598a5fe6!2m2!1d-89.8455367!2d14.3537663?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">4a Av Z. 2 4-40, El Progreso</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+EL+OSO+JUTIAPA,+Jutiapa/@14.3015652,-89.9388403,13z/data=!4m8!4m7!1m0!1m5
    !1m1!1s0x8f62870595d91dd7:0x65d99ddd91e8fa11!2m2!1d-89.8976403!2d14.3014857?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Jutiapa</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES JALAPA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+metamorfosis,+RN-18,+Jalapa/@14.6646634,-89.890496,13z/data=!4m8!4m7!1m0
    !1m5!1m1!1s0x8f62130015bd148f:0x250c6b290191b7b1!2m2!1d-89.8493134!2d14.6645188?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Jalapa</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://google.com/maps/dir//Gym,+1+Av,+Jalapa/@14.6293551,-90.0258484,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1
    !1s0x8f627513218ee515:0x6fae223020a9ed20!2m2!1d-89.9846458!2d14.6292692?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">1 Av 0-49, Jalapa</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CHIQUIMULA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//FITNESS+GYM+Esquipulas,+Esquipulas,+Chiquimula/@14.5671891,-89.3983819,
    13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f63b50583cd3aaf:0x39ca3bfd42acd7dc!2m2!1d-89.3571817!2d14.5671094?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Esquipulas</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM,+Jocot%C3%A1n,+Chiquimula/@14.8174097,-89.4305342,13z/data=!4m8!4m7!1m0
    !1m5!1m1!1s0x8f63cd0860cf1081:0xa39b9914a83101be!2m2!1d-89.3893341!2d14.8173304?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Jocotán</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES EL PROGRESO</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Life+Fitness+Sanarate,+Sanarate,+El+Progreso/@14.8015758,-90.1942342,21z/
    data=!4m8!4m7!1m0!1m5!1m1!1s0x8589ef16fcb2e7ef:0x8e8dc0ae25af479f!2m2!1d-90.1940862!2d14.8016387?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Sanarate</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+AccionPlus,+4a+Avenida+Z.+2,+El+Progreso/@14.3538835,-89.8866975,13z/
    data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8f6263597f78ea8b:0xcc43ea43598a5fe6!2m2!1d-89.8455367!2d14.3537663?entry=
    ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">4a Av Z. 2 4-40, El Progreso</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES ZACAPA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+Garcia,+4a+Calle,+Teculut%C3%A1n,+Zacapa/@14.9892403,-89.7609353,13z/
    data=!4m8!4m7!1m0!1m5!1m1!1s0x8f621f00532035e5:0x502f50c837953863!2m2!1d-89.7197357!2d14.9891634?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">4a Calle, Teculután</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//TAURUS+GYM,+Zacapa/@14.9711382,-89.5820091,13z/data=!4m8!4m7!1m0!1m5!1m1
    !1s0x8f6229123c40b1c3:0x572a9884e3879b47!2m2!1d-89.5408288!2d14.9711411?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Zacapa</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES IZABAL</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Zona+Fit,+5a+Calle,+Puerto+Barrios,+Izabal/@14.1629527,-89.7173352,
    7.14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f66d90023ec4f57:0x543f3cd9c927cf2d!2m2!1d-88.6009561!2d15.7283645?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">5a Calle 13, Puerto Barrios</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+EL+CHEMA,+Morales,+Izabal/@15.4693621,-88.8804473,13z/data=!4m8!4m7!1m0
    !1m5!1m1!1s0x8f613500478c9a5f:0xdf220e98d1803098!2m2!1d-88.8392442!2d15.4692821?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Morales, Izabal</a>
  </div>
</details>

<div style="margin-top: 50px;"></div>
