<div>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
      </div>
      <div class="navbar-start">
        <button class="join-item btn btn-outline text-xl" routerLink="" style="color: aliceblue;">Pagina anterior</button>
      </div>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="" style="color: aliceblue; font-style: oblique; margin-left: -100px;">Titanium Fitness</a>
  </div>
</div>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES ATLANTIDA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://google.com/maps/dir//Gym+Perfect+Body,+Boulevard+La+Amistad,+La+Ceiba,+Atl%C3%A1ntida,
    +Honduras/@15.7740694,-86.8482997,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f69a9eed2e2190f:0xc296250b3c727314
    !2m2!1d-86.8071306!2d15.7739664?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Boulevard La Amistad, La Ceiba, Atlántida, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+jireh,+La+Ceiba,+Atl%C3%A1ntida,+Honduras/@15.7704095,-86.8330959,
    13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f69a9d3fab13335:0xfd56687a3eed5bb8!2m2!1d-86.7918993!2d15.7703368?entry=ttu&g_ep
    =EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">La Ceiba, Atlántida, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CHOLUTECA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Oye+Oye+Ciudad+Nueva+Chol,+Choluteca,+Honduras/@13.3493333,-87.1703069
    ,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f7025eabb2dbd9f:0x3fbccbb3f4c96a3a!2m2!1d-87.1290977!2d13.3492607?entry=ttu&g_ep
    =EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Choluteca, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+AFC,+Pespire,+Choluteca,+Honduras/@13.5694426,-87.3662782,13z/data=
    !4m8!4m7!1m0!1m5!1m1!1s0x8f6fe3b136c79c71:0xde345d267128a8fb!2m2!1d-87.3250626!2d13.5693882?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Pespire, Choluteca, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES COLON</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Daniela%E2%80%99s+gym+center,+Tocoa,+Col%C3%B3n,+Honduras/@15.6532663,
    -86.0442625,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f6bcbdf0d6fdc5f:0x20f09e083f1b4480!2m2!1d-86.0030674!2d15.6532093?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Tocoa, Colón, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@15.534866,-86.3222106,13z?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%
    3D%3D">Parque Central Elixir, Departamento de, Sabá, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES COMAYAGUA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GIMNASIO+ALPHA+FITNESS,+Comayagua,+Honduras/@14.458669,-87.6878638,13z/
    data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8f65853d11ef41f9:0xc0876f09232b3d96!2m2!1d-87.6466743!2d14.4586282?entry=
    ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Comayagua, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym,+Comayagua,+Honduras/@14.3847532,-87.6562171,13z/data=!4m8!4m7!1m0
    !1m5!1m1!1s0x8f658749fd82381b:0x11c84032f1f52cf9!2m2!1d-87.615017!2d14.3846736?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Comayagua, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES COPAN</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Invictus,+Calle+5+SE,+Santa+Rosa+de+Cop%C3%A1n,+Cop%C3%A1n,+Honduras/
    @14.7619958,-88.7771415,17.36z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f640987119b8ed5:0xae5bd7e81da1795d!2m2!1d-88.7761391
    !2d14.7615548?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">C. 5 SE, 41101 Santa Rosa de Copán, Copán, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@14.838703,-89.1977287,13z?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw
    %3D%3D">Copán Ruinas, Copán, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CORTES</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@15.3338824,-88.0224781,13z?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw
    %3D%3D">Villanueva, Cortés, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@15.4923136,-88.0513311,13z?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw
    %3D%3D">San Pedro Sula, Cortés, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES EL PARAISO</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@14.06348,-86.7709359,13z?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%
    3D%3D">Aldea La crucitas a 50mts de la posta policial, 03010 Potrerillos, El Paraíso, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym,+El+Paraiso,+Honduras/@15.0295325,-89.0229789,13z/data=!4m8!4m7!1m0
    !1m5!1m1!1s0x8f63e37be9dcfa1f:0xcf9ab44b244d1a49!2m2!1d-88.9817821!2d15.0294083?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">El Paraiso, Copán, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES FRANCISCO MORAZAN</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM,+Tegucigalpa,+Francisco+Moraz%C3%A1n,+Honduras/@14.0583258,-87.2974605
    ,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f6f97dbf202973f:0xa1b57528e96bcb06!2m2!1d-87.2562335!2d14.0582219?entry=ttu&g_ep
    =EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Tegucigalpa, Francisco Morazán, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gladius+Gym+S.+de+RL.,+Puente+Estocolmo,+Tegucigalpa,+Francisco+Moraz
    %C3%A1n,+Honduras/@14.1000878,-87.2474407,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f6fbd8a0c9ca98d:0x96aa013a0e7035f0
    !2m2!1d-87.2062346!2d14.1000078?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Puente Estocolmo, Tegucigalpa, Francisco Morazán, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES GRACIAS A DIOS</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1>NINGUNA SUCURSAL EXISTENTE</h1>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES INTIBUCA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1>NINGUNA SUCURSAL EXISTENTE</h1>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES ISLA DE LA BAHIA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1>NINGUNA SUCURSAL EXISTENTE</h1>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES LA PAZ</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Power+gym,+La+Paz,+Honduras/@14.3257918,-87.6849571,18.02z/data=!4m8!4m7
    !1m0!1m5!1m1!1s0x8f658394bfef9f03:0x7cdfaad59cdf42df!2m2!1d-87.6844016!2d14.3258877?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">La Paz, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+mutants,+Santiago+de+Puringla,+La+Paz,+Honduras/@14.3582333,
    -87.9455946,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f65a1b354bd4b95:0xc1738abe95c0f9eb!2m2!1d-87.9043945!2d14.3581537?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Santiago de Puringla, La Paz, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES LEMPIRA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1>NINGUNA SUCURSAL EXISTENTE</h1>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES OCOTEPEQUE</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Spa+GYM+GENESIS,+Ocotepeque,+Ocotepeque,+Honduras/@14.4357241,-89.2259,
    13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8f63a48e00d3a017:0xad10169266a8b86d!2m2!1d-89.1846927!2d14.4356446?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Spa GYM GENESIS, Ocotepeque, Ocotepeque, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES OLANCHO</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Metal+Gym+Juticalpa,+Boulevard+Los+Poetas,+Juticalpa,+Olancho,+Honduras/
    @14.6623355,-86.256862,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f6c1ff3c8609ee1:0x6ea6b500473068e1!2m2!1d-86.21547
    !2d14.66226?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Boulevard Los Poetas, Juticalpa, Olancho, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@15.0236519,-86.1073817,13z?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Gualaco, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SANTA BARBARA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+La+Firma,+7ma+avenida,+Naranjito,+Santa+B%C3%A1rbara,+Honduras/
    @14.9541207,-88.7261754,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f6403004b2066f1:0x818fb35de6aaaf1b!2m2!1d-88.6849753
    !2d14.9540415?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">7.ma avenida, Naranjito, Santa Bárbara, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+%26+Fitness+S%C3%A1nchez,+Petoa,+Santa+B%C3%A1rbara,+Honduras/
    @15.2686527,-88.3297853,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f668f7b0b9b598d:0xcb6280e538a910b8!2m2!1d-88.2885767
    !2d15.2685519?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Petoa, Santa Bárbara, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES VALLE</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Mana,+Aramecina,+Valle,+Honduras/@13.7445773,-87.7539162,13z/data=
    !4m8!4m7!1m0!1m5!1m1!1s0x8f6545003f9c3ffb:0x29e29d4541672e51!2m2!1d-87.7127215!2d13.7442086?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Aramecina, Valle, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Fares+Gym,+frente+a+Hospital+Pilar,+Calle+Principal,+Nacaome,+Valle,
    +Honduras/@13.5369866,-87.5263581,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f6fff002071476f:0x52ab19697fd87ebc!2m2
    !1d-87.4851946!2d13.5369191?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Fares Gym, frente a Hospital Pilar, Calle Principal, Nacaome, Valle, Honduras</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES YORO</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+Rivera,+Olanchito,+Yoro,+Honduras/@15.494682,-86.6188735,13z/
    data=!4m8!4m7!1m0!1m5!1m1!1s0x8f696d1cef6ef90d:0xda661ab4281cbbef!2m2!1d-86.5776876!2d15.4946015?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Olanchito, Yoro, Honduras</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+club+Fitness,+subirana,+Yoro,+Honduras/@15.2002192,-87.9328383,13z/
    data=!4m8!4m7!1m0!1m5!1m1!1s0x8f6672864d81d631:0xbd7b7235c67db902!2m2!1d-87.8916083!2d15.200166?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">barrio, subirana, Honduras</a>
  </div>
</details>

<div style="margin-top: 50px;"></div>
