<div>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
      </div>
      <div class="navbar-start">
        <button class="join-item btn btn-outline text-xl" routerLink="" style="color: aliceblue;">Pagina anterior</button>
      </div>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="" style="color: aliceblue; font-style: oblique; margin-left: -100px;">Titanium Fitness</a>
  </div>

  <div style="margin-top: 80px;">
    <form class="flex items-center max-w-sm mx-auto">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative w-full">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
              </svg>
          </div>
          <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search branch name..." required />
      </div>
      <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search</span>
      </button>
    </form>
  </div>

  <div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: 20px 20px 10px 20px; border: 1px solid gray;">
      <figure>
      <img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZStGEVpM6M3dP5QV23yKk83vxbGAyG3TXiA&s"
          alt="Bicicleta Spinning" />
      </figure>
      <div class="card-body">
        <h2 class="card-title justify-center" style="color: aliceblue;">Bicicleta Estatica</h2>
        <h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
      <div class="card-actions justify-center">
        <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
        <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
          <span style="color: aliceblue;">|</span>
          <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
            <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
            <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
          </div>
          </div>
        <div class="flex w-full justify-between px-2 text-ms">
          <span style="color: aliceblue;">1</span>
          <span style="color: aliceblue;">10</span>
          <span style="color: aliceblue;">20</span>
          <span style="color: aliceblue;">30</span>
          <span style="color: aliceblue;">40</span>
          <span style="color: aliceblue;">50</span>
          <span style="color: aliceblue;">60</span>
          <span style="color: aliceblue;">70</span>
          <span style="color: aliceblue;">80</span>
          <span style="color: aliceblue;">90</span>
          <span style="color: aliceblue;">100</span>
        </div>
      </div>
      <div class="card-actions justify-center">
        <button class="btn btn-outline" style="color: aliceblue;">Q21,999.99 c/u<br>Click Para Comprar</button>
      </div>
      </div>
  </div>
  <div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: -490px auto; border: 1px solid gray;">
    <figure>
    <img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
        width="225px"
        src="https://tienda.gfitness.com.ar/web/image/product.template/3986/image_256/%5BX8400A%5D%20Cinta%20Caminadora%20Modelo%20X8400A?unique=063c632"
        alt="pesas 20kg" />
    </figure>
    <div class="card-body">
      <h2 class="card-title justify-center" style="color: aliceblue;">Trotadora o Cinta de Correr</h2>
      <h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
      <div class="card-actions justify-center">
        <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
        <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
          <span style="color: aliceblue;">|</span>
          <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
            <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="color: aliceblue;">|</span>
            <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
            <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
          </div>
          </div>
        <div class="flex w-full justify-between px-2 text-ms">
          <span style="color: aliceblue;">1</span>
          <span style="color: aliceblue;">10</span>
          <span style="color: aliceblue;">20</span>
          <span style="color: aliceblue;">30</span>
          <span style="color: aliceblue;">40</span>
          <span style="color: aliceblue;">50</span>
          <span style="color: aliceblue;">60</span>
          <span style="color: aliceblue;">70</span>
          <span style="color: aliceblue;">80</span>
          <span style="color: aliceblue;">90</span>
          <span style="color: aliceblue;">100</span>
        </div>
      </div>
    <div class="card-actions justify-center">
      <button class="btn btn-outline" style="color: aliceblue;">Q33.999.99 c/u<br>Click Para Comprar</button>
    </div>
    </div>
</div>
<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: 9px 960px; border: 1px solid gray;">
  <figure>
  <img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
      width="225px"
      src="https://media.doitcenter.com.pa/media/catalog/product/2/8/288sfellicombo1_2rfbj0ajlbfj9f8d.jpg?quality=85&fit=bounds&height=&width=256&auto=webp&format=pjpg"
      alt="Bicicleta Spinning" />
  </figure>
  <div class="card-body">
    <h2 class="card-title justify-center" style="color: aliceblue;">Bicicleta Eliptica</h2>
    <h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
    <div class="card-actions justify-center">
      <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
      <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
        <span style="color: aliceblue;">|</span>
        <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
          <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
          <span style="color: aliceblue;">|</span>
          <span style="color: aliceblue;">|</span>
          <span style="color: aliceblue;">|</span>
          <span style="color: aliceblue;">|</span>
          <span style="color: aliceblue;">|</span>
          <span style="color: aliceblue;">|</span>
          <span style="color: aliceblue;">|</span>
          <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
          <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
        </div>
        </div>
      <div class="flex w-full justify-between px-2 text-ms">
        <span style="color: aliceblue;">1</span>
        <span style="color: aliceblue;">10</span>
        <span style="color: aliceblue;">20</span>
        <span style="color: aliceblue;">30</span>
        <span style="color: aliceblue;">40</span>
        <span style="color: aliceblue;">50</span>
        <span style="color: aliceblue;">60</span>
        <span style="color: aliceblue;">70</span>
        <span style="color: aliceblue;">80</span>
        <span style="color: aliceblue;">90</span>
        <span style="color: aliceblue;">100</span>
      </div>
    </div>
  <div class="card-actions justify-center">
    <button class="btn btn-outline" style="color: aliceblue;">Q13,999.99 c/u<br>Click Para Comprar</button>
  </div>
  </div>
</div>
</div>


<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: 65px 20px 10px 20px; border: 1px solid gray;">
  <figure>
  <img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
      src="https://www.getstepr.es/media/catalog/product/cache/6ae2dcf5a7ae3b5886606fd3cbee5bc4/s/t/stepr_white_bg.jpg"
      alt="Bicicleta Spinning" />
  </figure>
  <div class="card-body">
    <h2 class="card-title justify-center" style="color: aliceblue;">Escaladora</h2>
    <h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
  <div class="card-actions justify-center">
    <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
    <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
      <span style="color: aliceblue;">|</span>
      <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
        <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
      </div>
      </div>
    <div class="flex w-full justify-between px-2 text-ms">
      <span style="color: aliceblue;">1</span>
      <span style="color: aliceblue;">10</span>
      <span style="color: aliceblue;">20</span>
      <span style="color: aliceblue;">30</span>
      <span style="color: aliceblue;">40</span>
      <span style="color: aliceblue;">50</span>
      <span style="color: aliceblue;">60</span>
      <span style="color: aliceblue;">70</span>
      <span style="color: aliceblue;">80</span>
      <span style="color: aliceblue;">90</span>
      <span style="color: aliceblue;">100</span>
    </div>
  </div>
  <div class="card-actions justify-center">
    <button class="btn btn-outline" style="color: aliceblue;">Q32,999.99 c/u<br>Click Para Comprar</button>
  </div>
  </div>
</div>
<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: -490px auto; border: 1px solid gray;">
<figure>
<img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
    width="225px"
    src="https://fitness.com.gt/wp-content/uploads/2023/01/Banco-Olimpico-Declinado-Pro-Lycan-1.jpg"
    alt="pesas 20kg" />
</figure>
<div class="card-body">
  <h2 class="card-title justify-center" style="color: aliceblue;">Banco Olimpico</h2>
  <h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
  <div class="card-actions justify-center">
    <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
    <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
      <span style="color: aliceblue;">|</span>
      <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
        <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
      </div>
      </div>
    <div class="flex w-full justify-between px-2 text-ms">
      <span style="color: aliceblue;">1</span>
      <span style="color: aliceblue;">10</span>
      <span style="color: aliceblue;">20</span>
      <span style="color: aliceblue;">30</span>
      <span style="color: aliceblue;">40</span>
      <span style="color: aliceblue;">50</span>
      <span style="color: aliceblue;">60</span>
      <span style="color: aliceblue;">70</span>
      <span style="color: aliceblue;">80</span>
      <span style="color: aliceblue;">90</span>
      <span style="color: aliceblue;">100</span>
    </div>
  </div>
<div class="card-actions justify-center">
  <button class="btn btn-outline" style="color: aliceblue;">Q12.999.99 c/u<br>Click Para Comprar</button>
</div>
</div>
</div>
<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: 9px 960px; border: 1px solid gray;">
<figure>
<img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
  width="225px"
  src="https://sears.com.gt/wp-content/uploads/imgSears/305650.jpg"
  alt="Bicicleta Spinning" />
</figure>
<div class="card-body">
<h2 class="card-title justify-center" style="color: aliceblue;"> Banco de Abdominales</h2>
<h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
<div class="card-actions justify-center">
  <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
  <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
    <span style="color: aliceblue;">|</span>
    <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
      <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
      <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
    </div>
    </div>
  <div class="flex w-full justify-between px-2 text-ms">
    <span style="color: aliceblue;">1</span>
    <span style="color: aliceblue;">10</span>
    <span style="color: aliceblue;">20</span>
    <span style="color: aliceblue;">30</span>
    <span style="color: aliceblue;">40</span>
    <span style="color: aliceblue;">50</span>
    <span style="color: aliceblue;">60</span>
    <span style="color: aliceblue;">70</span>
    <span style="color: aliceblue;">80</span>
    <span style="color: aliceblue;">90</span>
    <span style="color: aliceblue;">100</span>
  </div>
</div>
<div class="card-actions justify-center">
<button class="btn btn-outline" style="color: aliceblue;">Q10,999.99 c/u<br>Click Para Comprar</button>
</div>
</div>
</div>


<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: 65px 20px 10px 20px; border: 1px solid gray;">
  <figure>
  <img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToOwyuaQ6iEk8Wki3MsSoolKUoFd-FFOsdWg&s"
      alt="Bicicleta Spinning" />
  </figure>
  <div class="card-body">
    <h2 class="card-title justify-center" style="color: aliceblue;">Maquina de Poleas</h2>
    <h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
  <div class="card-actions justify-center">
    <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
    <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
      <span style="color: aliceblue;">|</span>
      <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
        <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
      </div>
      </div>
    <div class="flex w-full justify-between px-2 text-ms">
      <span style="color: aliceblue;">1</span>
      <span style="color: aliceblue;">10</span>
      <span style="color: aliceblue;">20</span>
      <span style="color: aliceblue;">30</span>
      <span style="color: aliceblue;">40</span>
      <span style="color: aliceblue;">50</span>
      <span style="color: aliceblue;">60</span>
      <span style="color: aliceblue;">70</span>
      <span style="color: aliceblue;">80</span>
      <span style="color: aliceblue;">90</span>
      <span style="color: aliceblue;">100</span>
    </div>
  </div>
  <div class="card-actions justify-center">
    <button class="btn btn-outline" style="color: aliceblue;">Q37,999.99 c/u<br>Click Para Comprar</button>
  </div>
  </div>
</div>
<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: -490px auto; border: 1px solid gray;">
<figure>
<img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
    width="225px"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEi82HpqCnRO6AlnNmk9EFQ-SUhgL9RyGe9K5-asAAuwti9l1f0MoszitgQ3bewi_8cwQ&usqp=CAU"
    alt="pesas 20kg" />
</figure>
<div class="card-body">
  <h2 class="card-title justify-center" style="color: aliceblue;">Remo</h2>
  <h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
  <div class="card-actions justify-center">
    <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
    <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
      <span style="color: aliceblue;">|</span>
      <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
        <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
      </div>
      </div>
    <div class="flex w-full justify-between px-2 text-ms">
      <span style="color: aliceblue;">1</span>
      <span style="color: aliceblue;">10</span>
      <span style="color: aliceblue;">20</span>
      <span style="color: aliceblue;">30</span>
      <span style="color: aliceblue;">40</span>
      <span style="color: aliceblue;">50</span>
      <span style="color: aliceblue;">60</span>
      <span style="color: aliceblue;">70</span>
      <span style="color: aliceblue;">80</span>
      <span style="color: aliceblue;">90</span>
      <span style="color: aliceblue;">100</span>
    </div>
  </div>
<div class="card-actions justify-center">
  <button class="btn btn-outline" style="color: aliceblue;">Q7.999.99 c/u<br>Click Para Comprar</button>
</div>
</div>
</div>
<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: 9px 960px; border: 1px solid gray;">
<figure>
<img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
  width="225px"
  src="https://sears.com.gt/wp-content/uploads/imgSears/354982.jpg"
  alt="Bicicleta Spinning" />
</figure>
<div class="card-body">
<h2 class="card-title justify-center" style="color: aliceblue;"> Bicicleta Estatica</h2>
<h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
<div class="card-actions justify-center">
  <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
  <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
    <span style="color: aliceblue;">|</span>
    <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
      <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
      <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
    </div>
    </div>
  <div class="flex w-full justify-between px-2 text-ms">
    <span style="color: aliceblue;">1</span>
    <span style="color: aliceblue;">10</span>
    <span style="color: aliceblue;">20</span>
    <span style="color: aliceblue;">30</span>
    <span style="color: aliceblue;">40</span>
    <span style="color: aliceblue;">50</span>
    <span style="color: aliceblue;">60</span>
    <span style="color: aliceblue;">70</span>
    <span style="color: aliceblue;">80</span>
    <span style="color: aliceblue;">90</span>
    <span style="color: aliceblue;">100</span>
  </div>
</div>
<div class="card-actions justify-center">
<button class="btn btn-outline" style="color: aliceblue;">Q4,999.99 c/u<br>Click Para Comprar</button>
</div>
</div>
</div>


<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: 65px 20px 10px 20px; border: 1px solid gray;">
  <figure>
  <img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
      src="https://www.equipamientosfox.com/wp-content/uploads/2022/03/linea-full_lingotes_dorsalera-alta.webp"
      alt="Bicicleta Spinning" />
  </figure>
  <div class="card-body">
    <h2 class="card-title justify-center" style="color: aliceblue;">Maquina Dorsaleta</h2>
    <h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
  <div class="card-actions justify-center">
    <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
    <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
      <span style="color: aliceblue;">|</span>
      <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
        <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
      </div>
      </div>
    <div class="flex w-full justify-between px-2 text-ms">
      <span style="color: aliceblue;">1</span>
      <span style="color: aliceblue;">10</span>
      <span style="color: aliceblue;">20</span>
      <span style="color: aliceblue;">30</span>
      <span style="color: aliceblue;">40</span>
      <span style="color: aliceblue;">50</span>
      <span style="color: aliceblue;">60</span>
      <span style="color: aliceblue;">70</span>
      <span style="color: aliceblue;">80</span>
      <span style="color: aliceblue;">90</span>
      <span style="color: aliceblue;">100</span>
    </div>
  </div>
  <div class="card-actions justify-center">
    <button class="btn btn-outline" style="color: aliceblue;">Q17,999.99 c/u<br>Click Para Comprar</button>
  </div>
  </div>
</div>
<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: -490px auto; border: 1px solid gray;">
<figure>
<img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
    width="225px"
    src="https://jbs-fitness.es/wp-content/uploads/2020/07/Peck-Deck-abierta.jpg"
    alt="pesas 20kg" />
</figure>
<div class="card-body">
  <h2 class="card-title justify-center" style="color: aliceblue;">Peck Deck</h2>
  <h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
  <div class="card-actions justify-center">
    <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
    <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
      <span style="color: aliceblue;">|</span>
      <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
        <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
        <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
      </div>
      </div>
    <div class="flex w-full justify-between px-2 text-ms">
      <span style="color: aliceblue;">1</span>
      <span style="color: aliceblue;">10</span>
      <span style="color: aliceblue;">20</span>
      <span style="color: aliceblue;">30</span>
      <span style="color: aliceblue;">40</span>
      <span style="color: aliceblue;">50</span>
      <span style="color: aliceblue;">60</span>
      <span style="color: aliceblue;">70</span>
      <span style="color: aliceblue;">80</span>
      <span style="color: aliceblue;">90</span>
      <span style="color: aliceblue;">100</span>
    </div>
  </div>
<div class="card-actions justify-center">
  <button class="btn btn-outline" style="color: aliceblue;">Q18.999.99 c/u<br>Click Para Comprar</button>
</div>
</div>
</div>
<div class="card card-compact bg-base-100 w-96 shadow-xl" style="margin: 9px 960px; border: 1px solid gray;">
<figure>
<img style="margin-top: 15px; width: 65%; height: 225px; object-fit: cover;"
  width="225px"
  src="https://sportfitness.co/cdn/shop/files/071753_e8bfaa7b-2cd4-4caa-9221-1945cdfa3c54.jpg?v=1718634636"
  alt="Bicicleta Spinning" />
</figure>
<div class="card-body">
<h2 class="card-title justify-center" style="color: aliceblue;">Maquina de Aductor</h2>
<h3 class="card-title justify-center" style="color: aliceblue; font-family: 'Courier New', Courier, monospace;">100</h3>
<div class="card-actions justify-center">
  <input type="range" min="0" max="100" value="1" step="10" class="range range-xs [--range-shdw:aqua]" />
  <div class="flex w-full justify-between px-2 text-md" style="margin-left: 1px;">
    <span style="color: aliceblue;">|</span>
    <div class="flex w-full justify-between px-1 text-md" style="margin-left: 21px;">
      <span style="margin-left: 1px;" style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="color: aliceblue;">|</span>
      <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
      <span style="margin-right: 5px;" style="color: aliceblue;">|</span>
    </div>
    </div>
  <div class="flex w-full justify-between px-2 text-ms">
    <span style="color: aliceblue;">1</span>
    <span style="color: aliceblue;">10</span>
    <span style="color: aliceblue;">20</span>
    <span style="color: aliceblue;">30</span>
    <span style="color: aliceblue;">40</span>
    <span style="color: aliceblue;">50</span>
    <span style="color: aliceblue;">60</span>
    <span style="color: aliceblue;">70</span>
    <span style="color: aliceblue;">80</span>
    <span style="color: aliceblue;">90</span>
    <span style="color: aliceblue;">100</span>
  </div>
</div>
<div class="card-actions justify-center">
<button class="btn btn-outline" style="color: aliceblue;">Q15.999.99 c/u<br>Click Para Comprar</button>
</div>
</div>
</div>

<div style="margin: 65px">
</div>
