.navbar {
  position: fixed; /* Fija la barra de navegación */
  top: 0;
  width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
  z-index: 1000; /* Se asegura de que quede por encima de otros elementos */
}

body {
  margin-top: 80px; /* Ajusta el margen superior según la altura de la barra de navegación */
}

.profile-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: aliceblue;
}

.profile-header {
  display: flex;
  align-items: center;
  color: aliceblue;
  gap: 20px;
  padding: 15px;
}

.avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.account-info,
.purchases {
  margin-top: 20px;
  color: aliceblue;
  padding: 15px;
  border-radius: 8px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  margin-bottom: 10px;
}

.info-row label {
  font-weight: bold;
  color: aliceblue;
}

.info-row button {
  padding: 5px 10px;
  color: aliceblue;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.purchases h3 {
  margin-top: 0;
  color: aliceblue;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: aliceblue;
  margin-top: 10px;
}

th,
td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  color: aliceblue;
  text-align: center;
}

button {
  padding: 5px 10px;
  color: aliceblue;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
