<div>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
      </div>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="" style="color: aliceblue; font-style: oblique; margin-left: -100px;">Titanium Fitness</a>
  </div>
  <div class="profile-container" style="margin-top: 55px;">
    <!-- Profile Header -->
    <div class="profile-header">
      <div class="avatar">
        <img src="https://via.placeholder.com/100" alt="Random Avatar" />
      </div>
      <h2></h2>
      <p></p>
    </div>

    <!-- Account Info -->
    <div class="account-info">
      <h3>Cuenta</h3>
      <div class="info-row">
        <label>First Name:</label>
        <span></span>
      </div>
      <div class="info-row">
        <label>Last Name:</label>
        <span></span>
      </div>
      <div class="info-row">
        <label>Email:</label>
        <span></span>
      </div>
      <div class="info-row">
        <label>Password:</label>
        <button class="btn-ghost">Cambiar Password</button>
      </div>
    </div>

    <!-- Purchases Table -->
    <div class="purchases">
      <h3>Control de Compras</h3>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Estado</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
