<div>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
      </div>
      <div class="navbar-start">
        <button class="join-item btn btn-outline text-xl" routerLink="" style="color: aliceblue;">Pagina anterior</button>
      </div>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="" style="color: aliceblue; font-style: oblique; margin-left: -100px;">Titanium Fitness</a>
  </div>
</div>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES AHUACHAPAN</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Las+Brisas,+Ahuachap%C3%A1n,+El+Salvador/@13.9432812,-89.9015447,
    13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f62983ca8cdbe41:0x80b34be66a926102!2m2!1d-89.8603446!2d13.9432015?entry=ttu&g_ep
    =EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Ahuachapan, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym,+Cara+Sucia,+Ahuachap%C3%A1n,+El+Salvador/@13.7777738,-90.072644,
    13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x85881d3c5367c537:0x18868fb81d59001b!2m2!1d-90.0314439!2d13.7776939?entry=ttu&g_ep
    =EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">3 Av. Norte #12 Barrio, Cara Sucia, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SONSONATE</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Heroes+gym,+Avenida+El+Angel,+Sonsonate,+El+Salvador/@13.726968,
    -89.7588381,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f62b755d73bcf35:0x994ed5ab1ed4e176!2m2!1d-89.7176384!2d13.7268867?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Avenida El Angel, Sonsonate, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Soldier+SV,+6+Avenida+Sur,+Sonsonate,+El+Salvador/@13.7131845,
    -89.767563,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8f62b757250aef37:0xd59700ec2bf21627!2m2!1d-89.7263629
    !2d13.7131045?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">6 Avenida Sur, Sonsonate, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SANTA ANA</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+FMOCcc,+Santa+Ana,+El+Salvador/@13.9708591,-89.6141783,13z/data=
    !4m8!4m7!1m0!1m5!1m1!1s0x8f62e9c2787e7ac1:0xe6a1bdc6c090cce8!2m2!1d-89.5730908!2d13.9708162?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Santa Ana, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gimnasio+Palace+2,+Avenue+Fray+Felipe+De+Jesus+Moraga+Sur,+Santa+Ana,
    +El+Salvador/@13.9772359,-89.6113332,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8f62e9006d05a113:0x22af1b4ada10fa8f
    !2m2!1d-89.5701471!2d13.9771667?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Ave Fray Felipe De Jesus Moraga Sur, Santa Ana, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES LA LIBERTAD</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+El+Brother,+La+Libertad,+El+Salvador/@13.4882463,-89.3587592,13z/
    data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8f7cd35d27da34ad:0x71d0a52b41d81f23!2m2!1d-89.3175591!2d13.4881662?entry=
    ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">La Libertad, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYMAR,+Calle+Ayagualo,+Santa+Tecla,+La+Libertad,+El+Salvador/@13.6786689,
    -89.3117357,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f632e4c7fdc7bb3:0x2301fc5b0d5e8041!2m2!1d-89.2705174!2d13.6786285?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Calle Ayagualo, Santa Tecla, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CHALATENANGO</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//The+Gym+paradise+%26+fitness,+El+Para%C3%ADso,+Chalatenango,+El+Salvador/
    @14.1058874,-89.1086341,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f6373e3f2c48141:0x9bef7ed0ae06c0f1!2m2!1d-89.0674677
    !2d14.1058119?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">El Paraíso, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@13.966887,-88.9797316,11.18z?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">casa comunal segunda planta, plaza central, Potonico, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SAN SALVADOR</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gymboree+El+Salvador,+91+Avenida+Norte,+San+Salvador,+El+Salvador/
    @13.7073452,-89.2840033,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f63301f20e4229f:0xf2b4cee0edfca282!2m2!1d-89.2428236
    !2d13.7072658?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">91 Avenida Nte. 532, San Salvador, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Flor+Blanca,+Pje+Flor+Blanca,+San+Salvador,+El+Salvador/@13.6983404,
    -89.2557863,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8f63305bf352f34d:0x4cc6247581ffe66d!2m2!1d-89.2145862
    !2d13.6982604?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Pje Flor Blanca, San Salvador, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CUSCATLAN</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//GYM+OXIGENO,+San+Rafael+Cedros,+Cuscatl%C3%A1n,+El+Salvador/@13.7301996,
    -88.9309775,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f635bea9b235bf1:0x22a2ca70e385a159!2m2!1d-88.8897273!2d13.7300862?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">San Rafael Cedros, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gymnasio+Feetness,+Cojutepeque,+Cuscatl%C3%A1n,+El+Salvador/@13.7242249,
    -88.9743632,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f635007b6885c4f:0x2f07007b943e897!2m2!1d-88.9331631!2d13.7241449?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Cojutepeque, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES LA PAZ</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Monster+Gym,+4%C2%AA+Calle+Poniente,+Zacatecoluca,+La+Paz,+El+Salvador/
    @13.5088858,-88.9135957,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f7cac9a59534043:0xe30f26ca3c0bcee2!2m2!1d-88.8723967
    !2d13.508794?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">4ª Calle Pte., Zacatecoluca, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//G%26M+Nails+and+Feet,+Zacatecoluca,+La+Paz,+El+Salvador/@13.5088199,
    -88.9158592,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f7cadc6645b75f7:0x61332606e9a000c4!2m2!1d-88.874658!2d13.5087397?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Zacatecoluca, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SAN VICENTE</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+Maya,+Calle+Dr+Jose+Rosa+Pacas,+San+Vicente,+El+Salvador/@13.6409422,
    -88.8286632,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8f64a9fd929865dd:0xf71de6d7014eb781!2m2!1d-88.7874654
    !2d13.6408545?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Barrio San Juan de Dios, Calle Dr Jose Rosa Pacas 22, San Vicente, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//TITANIC+GYM+%232,+San+Vicente,+El+Salvador/@13.6423271,-88.8269295,13z/
    data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8f64a9e49a396855:0xae810f10a048c305!2m2!1d-88.7857202!2d13.6422866?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">San Vicente, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CABAÑAS</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@13.8411558,-88.8941095,13z?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Ilobasco, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES USULUTAN</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@13.3486725,-88.4805409,13z?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Usulután, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//123+fitness+gym,+7+calle+oriente,+Usulut%C3%A1n,+El+Salvador/@13.3428418,
    -88.4460776,15.56z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f7b39005678af9b:0xaf280f8b695dff5f!2m2!1d-88.4388571!2d13.3419128?
    entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">7 calle Oriente #15 Barrio El Calvario 7 calle Orient #15 Barrio El Calvario, 7 calle oriente 15, Usulután, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SAN MIGUEL</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@13.4815113,-88.2239387,13z?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">2A Calle Poniente, San Miguel, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@13.4744939,-88.2140336,13z?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">13A Calle Oriente, San Miguel, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES MORAZAN</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@13.7046715,-88.1459706,13z?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">San Francisco Gotera, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir//Gym+sol+fitnes,+Barrio+El+centro,+San+Simon,+Moraz%C3%A1n,+El+Salvador/
    @13.8311765,-88.2684795,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8f64df0060c96975:0x99a51d917628b55a!2m2!1d-88.2272736
    !2d13.8311112?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Barrio El centro, San Simon, El Salvador</a>
  </div>
</details>

<details tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 25PX;">
  <summary class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES LA UNION</summary>
  <div class="collapse-content" style="color: aliceblue;">
    <h1 style="color: aliceblue; margin-bottom: 10px;" class="text-xl">UBICACIONES</h1>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@13.2017044,-87.9996612,13z?entry=ttu&g_ep=
    EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">Loma Larga, El Salvador</a>
    <br><br>
    <h1>Titanium Fitness</h1>
    <a href="https://www.google.com/maps/dir///@13.6225187,-87.9315623,13z?entry=
    ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D">6a Calle Ote., Santa Rosa de Lima, El Salvador</a>
  </div>
</details>

<div style="margin-top: 50px;"></div>
