<div>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
      </div>
      <div class="navbar-start">
        <button class="join-item btn btn-outline text-xl" routerLink="" style="color: aliceblue;">Pagina anterior</button>
      </div>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="" style="color: aliceblue; font-style: oblique; margin-left: -100px;">Titanium Fitness</a>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES AHUACHAPAN</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SONSONATE</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SANTA ANA</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES LA LIBERTAD</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CHALATENANGO</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SAN SALVADOR</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CUSCATLAN</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES LA PAZ</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SAN VICENTE</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES CABANAS</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES USULUTAN</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES SAN MIGUEL</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES MORAZAN</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>

<div tabindex="0" class="collapse collapse-plus border-base-300 bg-base-200 border" style="margin-top: 80px; margin-top: 25PX;">
  <div class="collapse-title text-xl font-medium" style="color: aliceblue;">SUCURSALES LA UNION</div>
  <div class="collapse-content" style="color: aliceblue;">
    <p>tabindex="0" attribute is necessary to make the div focusable</p>
  </div>
</div>
